<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<!-- Log4Net Config Start -->
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="C:\MyLogs\%property{LogFileName}" />
			<datePattern value="dd.MM.yyyy'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%p : %m  : %d %r %newline" />
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<logger name="servicelog">
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</logger>
	</log4net>
	<!-- Log4Net Config End -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<appSettings>
		<add key="ApiUser" value="MCHAVEZ" />
		<add key="ApiPass" value="$teMMons987" />
		<add key="TimeInterval" value="60000" />
		<!--<add key="TimeInterval" value="180000" />-->
		<add key="log4net.Internal.Debug" value="true" />
	</appSettings>
  <connectionStrings>
    <add name="GuardianStagingEntities" connectionString="metadata=res://*/Data.GuardianStagingModel.csdl|res://*/Data.GuardianStagingModel.ssdl|res://*/Data.GuardianStagingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GuardianStaging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>